{% extends "base_site.html" %}
{% load i18n admin_urls static admin_modify prodfloor_extras%}
<head>
    <title>{% block title %}Reports Generation{% endblock %}</title>
</head>

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "prodfloor/custom.css" %}" />
{% endblock %}
{% block extrahead %}{{ block.super }}
<script src="{% static "prodfloor/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="{% static "admin/js/core.js"%}"></script>
{{ form.media }}
{% endblock %}

{% block content %}
<div class="results">
<div class="dropdown">
   <button onclick="myFunction()" class="dropbtn">Filters</button>
   <div id="myDropdown" class="dropdown-content">
   <form action="" method="post">{% csrf_token %}
       <table>
            <thead>
            <tr>
                {% for i in form %}
                <td>{{ i.label }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for i in form %}
                <td>
                <div class="fieldWrapper" title="{{  i.help_text }}">
                {{ i.errors }}
                {{ i }}
                </div>
                </td>
                {% endfor %}
            </tr>
           </tbody>
       </table>
       <input type="submit" value="{% trans "filter" %}"/>
   </form>
    </div>
</div>
<table id="result_list">
<thead>
<tr>
    {% for header in result_headers %}
        <th>
            <div class="text"><span>{{ header }}</span></div>
        </th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for job in jobs %}
<tr>
<td>{{ job.job_num }}</td>
<td>{{ job.po }}</td>
<td>{{ job.job_type }}</td>
<td>{{ job.status }}</td>
<td><center>{% getstation job.station%}</center></td>
<td>{{ job.ship_date }}</td>
<td>{% resultingtime job.pk 1 %}</td>
<td>{% resultingtime job.pk 2 %}</td>
<td>{% resultingtime job.pk 3 %}</td>
<td>{% resultingtime job.pk 4 %}</td>
<td>{% totaltime job.pk %}</td>
<td><center>{% stopsnumber job.pk %}</center></td>
<td>{% timeonstop job.pk %}</td>
<td>{% effectivetime job.pk %}</td>
<td>{% gettech job.pk %}</td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if jobs.has_previous %}
            <a href="?page={{ jobs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
        </span>

        {% if jobs.has_next %}
            <a href="?page={{ jobs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<br>
<a href="/prodfloor/generate_report_xml/" class="button" style="background-color: #3e8e41">{%  trans "Excel" %}</a>
</div>
<script src="{% static 'prodfloor/reportsfunctions.js' %}"></script>
{% endblock %}