{% extends "base_site.html" %}
{% load prodfloor_extras %}
{% load i18n %}
<head>
    <title>{% block title %}{{ job.job_num }}{% endblock %}</title>
</head>
{% block head %}
{{ job.job_num }}
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'prodfloor:prodfloor' %}">{{ site_header|default:_('Job Workflow') }}</a></h1>
{% endblock %}
{% block content %}
<script>function clicked(e)
{ if(!confirm('{{ message }}'))e.preventDefault();}
</script>
    <center>
    <h1 style="font-size: 40px;margin-bottom: 0px">{{ job.job_num }}</h1>
    <h2 style="font-size: 35px;margin-top: 0px;margin-bottom: 0px">{{ job.status }}</h2>
    <h3 style="font-size: 25px;margin-top: 0px">Step {{ current_step }} of {{ steps }}</h3></center>
    <br>
    <h2 style="font-size: 35px;text-align: center;">{{ current_step_text }}</h2>
    <center style="margin-top: 80px">
    {% if job.status != 'Stopped' %}
        {% if last %}
    <a href="/prodfloor/back/{{ current_step }}/"><button style="padding: 10px 20px;font-size: 20px;border:none;background-color: #79aec8;color: white">{%  trans "Back" %}</button></a>
    <a href="/prodfloor/next/{{ current_step }}/"><button id="next", onclick="clicked(event)" style="padding: 10px 20px;font-size: 20px;border:none;background-color: #79aec8;color: white">{%  trans "Next" %}</button></a>
    <a href="/prodfloor/stop/{{ current_step }}/"><button style="padding: 10px 20px;font-size: 20px;border:none;background-color: #79aec8;color: white">{%  trans "Stop" %}</button></a>
        {% else %}
    <a href="/prodfloor/back/{{ current_step }}/"><button style="padding: 10px 20px;font-size: 20px;border:none;background-color: #79aec8;color: white">{%  trans "Back" %}</button></a>
    <a href="/prodfloor/next/{{ current_step }}/"><button id="next" style="padding: 10px 20px;font-size: 20px;border:none;background-color: #79aec8;color: white">{%  trans "Next" %}</button></a>
    <a href="/prodfloor/stop/{{ current_step }}/"><button style="padding: 10px 20px;font-size: 20px;border:none;background-color: #79aec8;color: white">{%  trans "Stop" %}</button></a>
            {% endif %}
    {% else %}
    <a href="/prodfloor/resume/"><button style="padding: 10px 20px;font-size: 20px;border:none;background-color: #79aec8;color: white">{%  trans "Resume" %}</button></a>
    {% endif %}
    </center>
    <div class="copyright" style="margin-top: 50px"><center>&copy;2017 - <strong>MCE info</strong></center></div>
{% endblock %}
