{% load staticfiles prodfloor_extras %}
<!doctype html>
<meta http-equiv="refresh" content="60" >
<html>
<head>
<meta charset="utf-8">
<title>Motion Production</title>
<style type="text/css">
</style>
</head>
<body><!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scal e=1">
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'prodfloor/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'prodfloor/w3s.css' %}"/>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="text-center" style="font-size: 70px">
        <center>Production Floor (Test)</center>
        <hr style="margin-top: 0px;margin-bottom: 0px">
      </div>
<div class="container" style="width:100%">
<div class="row">
  <div class="col-lg-3">
    <h1 style="font-size: 60px"><center>JOB #&nbsp;</center></h1>
       <hr style="margin-bottom: 0px">
      {% for job in job_list %}
          <div class="text-center"><h1 style="font-size: 50px">{% getfivedigits job.job_num %}<span style="font-size:50px">({{ job.label }})</span></h1></div>
          <hr style="margin-top: 0px;margin-bottom: 0px">
      {% endfor %}
</div>
  <div class="col-lg-3">
    <h1 style="font-size: 60px"><center>TECH</center></h1>
    <hr style="margin-bottom: 0px">
    {% for job in job_list %}
          <div class="text-center"><h1 style="font-size: 50px">{% gettech job.pk %}</h1></div>
          <hr style="margin-top: 0px;margin-bottom: 0px">
      {% endfor %}
    </div>
<div class="col-lg-3">
  <h1 style="font-size: 60px"><center>STAGE</center></h1>
  <hr style="margin-bottom: 0px">
  {% for job in job_list %}
          <div class="text-center"><h1 style="font-size: 50px"><span style="font-size: 50px;">{% stage job %}</span></h1></div>
          <hr style="margin-top: 0px;margin-bottom: 0px">
      {% endfor %}
</div>
<div class="col-lg-9">
  <h1 style="font-size: 60px"><center>STATUS</center></h1>
  <hr style="margin-bottom: 3px">
    {% for job in job_list %}
    <div class="w3-container">
    <div class="w3-white w3-xxxlarge w3-round">
        <div class="{% getcolor job %}" style="width:{% getpercentage job.pk job.current_index job.stage_len %}%;line-height: {% getlines job.pk%}px;height: 68.8px"><span style="font-size: {% getsize job.pk%}px;padding-top: 0px;padding-bottom: 0px;">{% ETF job %}</span></div>
    </div>
    </div>
    <hr style="margin-top: 3px;margin-bottom: 3px">
    {% endfor %}
</div>
<div class="col-lg-2" >
  <h1 style="font-size: 60px"><center>CAT</center></h1>
    <hr style="margin-bottom: 0px">
    {% for job in job_list %}
    <div class="text-center"><h1 style="font-size: 50px">{% categories job.pk %}</h1></div>
    <hr style="margin-top: 0px;margin-bottom: 0px">
    {% endfor %}
</div>
<div class="col-lg-2" >
  <h1 style="font-size: 60px"><center>ST</center></h1>
    <hr style="margin-bottom: 0px">
    {% for job in job_list %}
    <div class="text-center"><h1 style="font-size: 50px">{% getstation job.station %}</h1></div>
    <hr style="margin-top: 0px;margin-bottom: 0px">
    {% endfor %}
</div>
<div class="col-lg-2" >
  <h1 style="font-size: 60px"><center>TTC</center></h1>
    <hr style="margin-bottom: 0px">
    {% for job in job_list %}
    <div class="text-center"><h1 style="font-size: 50px">{% time_to_finish job %}</h1></div>
    <hr style="margin-top: 0px;margin-bottom: 0px">
    {% endfor %}
</div>
</div>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © MCE. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'prodfloor/jquery-1.11.3.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{% static 'prodfloor/bootstrap.js' %}"></script>
</div>
</body>
</html>

</body>
</html>
