{% extends "base_site.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prodfloor_extras %}
<head>
    <title>{% block title %}{% trans "New Job Info" %}{% endblock %}</title>
</head>
{% block head %}
{{ wizard.form.media }}
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'prodfloor:prodfloor' %}">{{ site_header|default:_('Job Information') }}</a></h1>
{% endblock %}
{% block content %}
{{ wizard.steps.step1 }} {{wizard.step}}of {{ wizard.steps.count }}
<form action="" method="post">{% csrf_token %}
{{ wizard.management_form }}
    {{ wizard.form }}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" style="padding: 10px 20px;border: none;background-color: #79aec8;color: white">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}